/*Recipe

*/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: left;
}

/* Header */
header {
    text-align: center;
    margin-top: 40px;
    background-color: #666;
}

header h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

header p {
    font-weight: bold;
    color:#eee;
    margin-bottom: 20px;
}

/* Content */
main {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px 50px;
}

.recipe img {
    width: 400px;
    height: auto;
    border-radius: 6px;
    background-color: #ddd;
    grid-column: 2 / span 4;


}
.recipe{
    display:grid;
}
.recipe h2 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-top: 40px;
    grid-row: 2;
}
.recipe ul {
    grid-column: span 3;
    grid-row: 3;
}

ul, ol {
    margin-left: 40px;
    line-height: 1.6;
}

main a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #0077cc;
}

main a:hover {
    text-decoration: underline;
}

/* Optional: Upma-specific color accent */
h1 {
    color: #d47a00; /* warm golden color for Upma */
}

/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    color: #555;
}
